* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
}
nav > ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
}
nav > ul li {
    padding: 0.5em;
    margin: 0.25em;
    font-size: 15px;
}
nav > ul a {
    color: inherit;
    text-decoration: none;
}
nav > ul #selected {
    background: #1769aa;
    color: white;
    border-radius: 0 10px 0 10px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
header {
    padding: 0.5em;
    width: 100%;
    color: white;
    background: #4dabf5;
    box-sizing: border-box;
}
main {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
.image_board {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}
.image_board div {
    height: 200px;
    padding: 2px;
}
.main_content {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-content: center;
}
.side_img {
    border-radius: 20px;
    align-self: center;
    height: 6em;
    width: 90%;
    overflow: hidden;
}
.text_content {
    text-align: center;
}
.description {
    padding-top: 1em;
    text-align: justify;
}
.main_strip > article[type="center"] .description {
    padding-top: 0;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 1em;
    gap: 1em;
}
aside article {
    display: flex;
    flex-direction: column;
    width: 18vw;
    padding: 1em;
    background: #e5e7eb;
    border-radius: 20px;
    gap: 1em;
}
[flex-float="left"] {
    align-items: flex-end;
}
[flex-float="right"] {
    align-items: flex-start;
}
h4 {
    display: inline;
}
aside .description {
    text-align: justify;
    position: relative;
    overflow: hidden;
    height: 5em;
}
aside .description::after {
    content: "";
    background-image: linear-gradient(transparent, #e5e7eb);
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
}
.main_strip {
    flex-direction: column;
    display: flex;
    padding: 2em 0.25em;
    gap: 3em;
}
.main_strip > article {
    display: grid;
    column-gap: 1em;
}
.main_strip > article a {
    color: black;
}
.main_strip .content {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    column-gap: 1em;
}
.image_resizer {
    width: 100%;
    max-height: 250px;
    min-width: 50px;
    height: 100%;
}
.main_strip h3 {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
}
.main_strip > article[type="right"] {
    grid-template-columns: 7fr 3fr;
}
.main_strip > article[type="right"] .main {
    align-items: flex-end;
}
.main_strip > article[type="left"] {
    grid-template-columns: 3fr 7fr;
}
.main_strip > article[type="left"] .main {
    align-items: flex-start;
}
.main_strip > article[type="center"] {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-rows: auto auto;
    gap: 1em;
}
.main_strip > article[type="center"] .main {
    align-items: flex-start;
}
article input[type="button"] {
    border: 3px solid black;
    border-radius: 5px;
    background: #4dabf5;
    color: white;
    display: inline-block;
    padding: 0.1em 1em;
}
@media (max-width: 700px) {
    nav > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image_board {
        display: flex;
        flex-direction: column;
    }
    .main_content {
        display: flex;
        flex-direction: column;
    }
    aside article {
        width: 100%;
    }
    [flex-float="left"] {
        align-items: center;
    }
    [flex-float="right"] {
        align-items: center;
    }
    .main_strip > article {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .main_strip .content {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}